<div class="form-row">
    <div class="form-group col-md-2">
        <label for="gearID1" class="form-label">GearID</label>
        <select id="gearID1" class="form-select" name="gearID1">
            <!-- Options will be populated based on the selected station name and gear -->
        </select>
    </div>

    <div class="form-group col-md-2">
        <label for="deficiencies1" class="form-label">Deficiencies</label>
        <select id="deficiencies1" class="form-select" name="deficiencies1" multiple="multiple">
            <!-- Options will be populated based on the selected gear -->
        </select>
    </div>

    <div class="form-group col-md-2">
        <label for="provideNumber1" class="form-label">Provide Number</label>
        <input type="number" id="provideNumber1" class="form-control" name="provideNumber1">
    </div>
</div>
 <div class="form-row">
    <div class="form-group col-md-2">
        <label for="gearID_2" class="form-label">GearID</label>
        <select id="gearID_2" class="form-select" name="gearID_2">
            <!-- Options will be populated based on the selected station name and gear -->
        </select>
    </div>

    <div class="form-group col-md-2">
        <label for="deficiencies_2" class="form-label">Deficiencies</label>
        <select id="deficiencies_2" class="form-select" name="deficiencies_2" multiple="multiple">
            <!-- Options will be populated based on the selected gear -->
        </select>
    </div>

    <div class="form-group col-md-2">
        <label for="provideNumber_2" class="form-label">Provide Number</label>
        <input type="number" id="provideNumber_2" class="form-control" name="provideNumber_2">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-2">
        <label for="gearID3" class="form-label">GearID</label>
        <select id="gearID3" class="form-select" name="gearID3">
            <!-- Options will be populated based on the selected station name and gear -->
        </select>
    </div>

    <div class="form-group col-md-2">
        <label for="deficiencies3" class="form-label">Deficiencies</label>
        <select id="deficiencies3" class="form-select" name="deficiencies3" multiple="multiple">
            <!-- Options will be populated based on the selected gear -->
        </select>
    </div>

    <div class="form-group col-md-2">
        <label for="provideNumber3" class="form-label">Provide Number</label>
        <input type="number" id="provideNumber3" class="form-control" name="provideNumber3">
    </div>
</div>
 <div class="form-row">
    <div class="form-group col-md-2">
        <label for="gearID4" class="form-label">GearID</label>
        <select id="gearID4" class="form-select" name="gearID4">
            <!-- Options will be populated based on the selected station name and gear -->
        </select>
    </div>

    <div class="form-group col-md-2">
        <label for="deficiencies4" class="form-label">Deficiencies</label>
        <select id="deficiencies4" class="form-select" name="deficiencies4" multiple="multiple">
            <!-- Options will be populated based on the selected gear -->
        </select>
    </div>

    <div class="form-group col-md-2">
        <label for="provideNumber4" class="form-label">Provide Number</label>
        <input type="number" id="provideNumber4" class="form-control" name="provideNumber4">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-2">
        <label for="gearID5" class="form-label">GearID</label>
        <select id="gearID5" class="form-select" name="gearID5">
            <!-- Options will be populated based on the selected station name and gear -->
        </select>
    </div>

    <div class="form-group col-md-2">
        <label for="deficiencies5" class="form-label">Deficiencies</label>
        <select id="deficiencies5" class="form-select" name="deficiencies5" multiple="multiple">
            <!-- Options will be populated based on the selected gear -->
        </select>
    </div>

    <div class="form-group col-md-2">
        <label for="provideNumber5" class="form-label">Provide Number</label>
        <input type="number" id="provideNumber5" class="form-control" name="provideNumber5">
    </div>
</div>
 <div class="form-row">
    <div class="form-group col-md-2">
        <label for="gearID7" class="form-label">GearID</label>
        <select id="gearID7" class="form-select" name="gearID7">
            <!-- Options will be populated based on the selected station name and gear -->
        </select>
    </div>

    <div class="form-group col-md-2">
        <label for="deficiencies7" class="form-label">Deficiencies</label>
        <select id="deficiencies7" class="form-select" name="deficiencies7" multiple="multiple">
            <!-- Options will be populated based on the selected gear -->
        </select>
    </div>

    <div class="form-group col-md-2">
        <label for="provideNumber7" class="form-label">Provide Number</label>
        <input type="number" id="provideNumber7" class="form-control" name="provideNumber7">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-2">
        <label for="gearID8" class="form-label">GearID</label>
        <select id="gearID8" class="form-select" name="gearID8">
            <!-- Options will be populated based on the selected station name and gear -->
        </select>
    </div>

    <div class="form-group col-md-2">
        <label for="deficiencies8" class="form-label">Deficiencies</label>
        <select id="deficiencies8" class="form-select" name="deficiencies8" multiple="multiple">
            <!-- Options will be populated based on the selected gear -->
        </select>
    </div>

    <div class="form-group col-md-2">
        <label for="provideNumber8" class="form-label">Provide Number</label>
        <input type="number" id="provideNumber8" class="form-control" name="provideNumber8">
    </div>
</div>
 <div class="form-row">
    <div class="form-group col-md-2">
        <label for="gearID9" class="form-label">GearID</label>
        <select id="gearID9" class="form-select" name="gearID9">
            <!-- Options will be populated based on the selected station name and gear -->
        </select>
    </div>

    <div class="form-group col-md-2">
        <label for="deficiencies9" class="form-label">Deficiencies</label>
        <select id="deficiencies9" class="form-select" name="deficiencies9" multiple="multiple">
            <!-- Options will be populated based on the selected gear -->
        </select>
    </div>

    <div class="form-group col-md-2">
        <label for="provideNumber9" class="form-label">Provide Number</label>
        <input type="number" id="provideNumber9" class="form-control" name="provideNumber9">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-2">
        <label for="gearID10" class="form-label">GearID</label>
        <select id="gearID10" class="form-select" name="gearID10">
            <!-- Options will be populated based on the selected station name and gear -->
        </select>
    </div>

    <div class="form-group col-md-2">
        <label for="deficiencies10" class="form-label">Deficiencies</label>
        <select id="deficiencies10" class="form-select" name="deficiencies10" multiple="multiple">
            <!-- Options will be populated based on the selected gear -->
        </select>
    </div>

    <div class="form-group col-md-2">
        <label for="provideNumber10" class="form-label">Provide Number</label>
        <input type="number" id="provideNumber10" class="form-control" name="provideNumber10">
    </div>
</div>
 <div class="form-row">
    <div class="form-group col-md-2">
        <label for="gearID6" class="form-label">GearID</label>
        <select id="gearID6" class="form-select" name="gearID6">
            <!-- Options will be populated based on the selected station name and gear -->
        </select>
    </div>

    <div class="form-group col-md-2">
        <label for="deficiencies6" class="form-label">Deficiencies</label>
        <select id="deficiencies6" class="form-select" name="deficiencies6" multiple="multiple">
            <!-- Options will be populated based on the selected gear -->
        </select>
    </div>

    <div class="form-group col-md-2">
        <label for="provideNumber6" class="form-label">Provide Number</label>
        <input type="number" id="provideNumber6" class="form-control" name="provideNumber6">
    </div>
</div>