<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Complaince Entry</title>
  <style>
    .custom-table {
  /* Create border between rows. */
  border-collapse: separate;
  border-spacing: 0px 1px;
  background-color: #e8eef5;
  width: 100%;
}

.custom-table tbody tr {
  border-bottom: 2px solid #b5d4fd;
}

.custom-table tbody tr:nth-child(odd) {
  background-color: #ffffff; /* Light color */
}

.custom-table tbody tr:nth-child(even) {
  background-color: #ffffff; /* Dark color */
}

.custom-table thead:after {
  /* Increase border between thead and tbody. */
  display: block;
  height: 0px;
  content: "";
  border: none;
}

.custom-table th {
  background-color: #dce0e6;
  text-align: center;
  font-size: 18px;
}

.custom-table th,
.custom-table td {
  padding: 0.8em;
  border-right: 3px solid white;
}

.custom-table th:last-child,
.custom-table td:last-child {
  border: none;
}

.custom-table td {
  background-color: #eff4f6;
  font-size: 16px;
}

.table-container {
  max-height: 400px; /* Set the maximum height for the container */
  overflow: auto; /* Enable scrolling for the container if needed */
}

    </style>


</head>
<body>
    
   
    
</body>
</html>